<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>

        <!-- Disfruto -Carla Morrison -->
        <ng-container matColumnDef="fecha">
            <th class="espacioMediano" mat-header-cell *matHeaderCellDef >Fecha</th>
            <td class="espacioMediano" mat-cell *matCellDef="let row"> {{row.fechacarta |  date:'dd-MM-yy'}} </td>
        </ng-container>

        <!-- menu 1 Column -->
        <ng-container matColumnDef="menuDeLaCasa">
            <th mat-header-cell *matHeaderCellDef> Menú de la casa </th>
            <td mat-cell *matCellDef="let row" class="onHover">
                {{row.delacasa}}
                <!--<img *ngIf="row.fotoDeLaCasa != ''" src={{row.fotoDeLaCasa}}>-->
            </td>
        </ng-container>

        <!-- cantidad 1 Column -->
        <ng-container matColumnDef="cantDeLaCasa">
            <th mat-header-cell *matHeaderCellDef >Cant.</th>
            <td mat-cell *matCellDef="let row">
                <input *ngIf="row.delacasa" class="cantidad" #i1 type="number" min="0" 
                value={{row.cantdelacasa}} (change)="cambio(row.fechacarta,i1.value,1)">
            </td>
        </ng-container>

        <!-- menu 2 Column -->
        <ng-container matColumnDef="menuOficina">
            <th mat-header-cell *matHeaderCellDef >Menú oficina</th>
            <td mat-cell *matCellDef="let row" class="onHover">
                {{row.oficina}}
                <!--<img *ngIf="row.fotoOficina != ''" src={{row.fotoOficina}}>-->
            </td>
        </ng-container>

        <!-- cantidad 2 Column -->
        <ng-container matColumnDef="cantOficina">
            <th mat-header-cell *matHeaderCellDef >Cant.</th>
            <td mat-cell *matCellDef="let row">
                <input *ngIf="row.oficina" class="cantidad" #i2 type="number" min="0" 
                value={{row.cantoficina}} (change)="cambio(row.fechacarta,i2.value,2)">
            </td>
        </ng-container>
        <!-- menu 3 Column -->
        <ng-container matColumnDef="menuIndustrial">
            <th mat-header-cell *matHeaderCellDef >Menú Industrial</th>
            <td mat-cell *matCellDef="let row" class="onHover">
                {{row.industrial }}
                <!--<img *ngIf="row.fotoIndustrial != ''" src={{row.fotoIndustrial}}>-->
            </td>
        </ng-container>

        <!-- cantidad 3 Column -->
        <ng-container matColumnDef="cantIndustrial">
            <th mat-header-cell *matHeaderCellDef >Cant.</th>
            <td mat-cell *matCellDef="let row">
                <input *ngIf="row.industrial" class="cantidad" #i3 type="number" min="0" 
                value={{row.cantindustrial}} (change)="cambio(row.fechacarta,i3.value,3)">
            </td>
        </ng-container>

        <!-- menu 4 Column -->
        <ng-container matColumnDef="menuHipocalorico">
            <th mat-header-cell *matHeaderCellDef >Menú Hipocalórico</th>
            <td mat-cell *matCellDef="let row" class="onHover"> {{row.hipocalorico}}
                <!--<img *ngIf="row.fotoHipocalorico != ''" src={{row.fotoHipocalorico}}>-->

            </td>

        </ng-container>

        <!-- cantidad 4 Column -->
        <ng-container matColumnDef="cantHipocalorico">
            <th mat-header-cell *matHeaderCellDef >Cant.</th>
            <td mat-cell *matCellDef="let row">
                <input *ngIf="row.hipocalorico" class="cantidad" #i4 type="number" min="0" 
                value={{row.canthipocalorico}} (change)="cambio(row.fechacarta,i4.value,4)">
            </td>
        </ng-container>

        <!-- menu 5 Column -->
        <ng-container matColumnDef="menuVegetariano">
            <th mat-header-cell *matHeaderCellDef >Menú vegertariano</th>
            <td mat-cell *matCellDef="let row" class="onHover"> {{row.vegetariano}}
                <!--<img *ngIf="row.fotoVegetariano != ''" src={{row.fotoVegetariano}}>-->

            </td>
        </ng-container>

        <!-- cantidad 5 Column -->
        <ng-container matColumnDef="cantVegetariano">
            <th mat-header-cell *matHeaderCellDef >Cant.</th>
            <td mat-cell *matCellDef="let row">
                <input *ngIf="row.vegertariano" class="cantidad" #i5 type="number" min="0" 
                value={{row.cantvegetariano}} (change)="cambio(row.fechacarta,i5.value,5)">
            </td>
        </ng-container>
        <!-- menu 6 Column -->
        <ng-container matColumnDef="menuRegimen">
            <th mat-header-cell *matHeaderCellDef >Menú Regimen</th>
            <td mat-cell *matCellDef="let row" class="onHover"> {{row.regimen}}
                <!--<img *ngIf="row.fotoRegimen != ''" src={{row.fotoRegimen}}>-->

            </td>
        </ng-container>

        <!-- cantidad 6 Column -->
        <ng-container matColumnDef="cantRegimen">
            <th mat-header-cell *matHeaderCellDef>Cant.</th>
            <td mat-cell *matCellDef="let row">
                <input *ngIf="row.regimen"  class="cantidad" #i6 type="number" min="0" 
                pattern="[0-9]" value={{row.cantregimen}} (change)="cambio(row.fechacarta,i6.value,6)">
            </td>
        </ng-container>
        


        <!-- Cantidad total Column -->
        <ng-container matColumnDef="Total">
            <th class="espacioChico" mat-header-cell *matHeaderCellDef>Total</th>
            <td class="espacioChico" mat-cell *matCellDef="let row">
                {{row.cantvegetariano+row.cantdelacasa+row.cantindustrial+row.cantoficina+row.canthipocalorico+row.cantregimen}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <button mat-raised-button (click)="Modificar(dataSource)" class="btnAgregar">Confirmar</button>


</body>

</html>