<body>
  <code >Bienvenido administrador, en esta ventana se listan todos los pedidos de los usuarios, navega por los botones para conocer más</code>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- empresa Column -->
    <ng-container matColumnDef="empresa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
      <td mat-cell *matCellDef="let row"> {{row.empresa}} </td>
    </ng-container>

    <!-- fecha Column   {{row.fecha | date:'shortDate'}}   -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef >Fecha</th>
      <td mat-cell *matCellDef="let row"> {{row.fechacarta| date:'dd-MM-yy'}} </td>
    </ng-container>



    <!-- menu 1 Column -->
    <ng-container matColumnDef="menu2">
      <th mat-header-cell *matHeaderCellDef >De la Casa</th>
      <td mat-cell *matCellDef="let row"> {{row.delacasa}} </td>
    </ng-container>

    <!-- cantidad 1 Column -->
    <ng-container matColumnDef="cant2">
      <th mat-header-cell *matHeaderCellDef >Cant.</th>
      <td mat-cell *matCellDef="let row"> {{row.cantdelacasa}} </td>
    </ng-container>

    <!-- menu 2 Column -->
    <ng-container matColumnDef="menu3">
      <th mat-header-cell *matHeaderCellDef >Oficina</th>
      <td mat-cell *matCellDef="let row"> {{row.oficina}} </td>
    </ng-container>

    <!-- cantidad 2 Column -->
    <ng-container matColumnDef="cant3">
      <th mat-header-cell *matHeaderCellDef >Cant.</th>
      <td mat-cell *matCellDef="let row"> {{row.cantoficina}} </td>
    </ng-container>
    <!-- menu 3 Column -->
    <ng-container matColumnDef="menu1">
      <th mat-header-cell *matHeaderCellDef >Industrial</th>
      <td mat-cell *matCellDef="let row"> {{row.industrial}} </td>
    </ng-container>

    <!-- cantidad 3 Column -->
    <ng-container matColumnDef="cant1" >
      <th mat-header-cell *matHeaderCellDef >Cant.</th>
      <td mat-cell *matCellDef="let row" > {{row.cantindustrial}} </td>
    </ng-container>

    <!-- menu 4 Column -->
    <ng-container matColumnDef="menu4">
      <th mat-header-cell *matHeaderCellDef>Hipocalorico</th>
      <td mat-cell *matCellDef="let row"> {{row.hipocalorico}} </td>
    </ng-container>

    <!-- cantidad 4 Column -->
    <ng-container matColumnDef="cant4">
      <th mat-header-cell *matHeaderCellDef >Cant.</th>
      <td mat-cell *matCellDef="let row"> {{row.canthipocalorico}} </td>
    </ng-container>

    <!-- menu 5 Column -->
    <ng-container matColumnDef="menu5">
      <th mat-header-cell *matHeaderCellDef >Vegetariano</th>
      <td mat-cell *matCellDef="let row"> {{row.vegetariano}} </td>
    </ng-container>

    <!-- cantidad 5 Column -->
    <ng-container matColumnDef="cant5">
      <th mat-header-cell *matHeaderCellDef >Cant.</th>
      <td mat-cell *matCellDef="let row"> {{row.cantvegetariano}} </td>
    </ng-container>

    <!-- menu 6 Column -->
    <ng-container matColumnDef="menu6">
      <th mat-header-cell *matHeaderCellDef >Regimen</th>
      <td mat-cell *matCellDef="let row"> {{row.regimen}} </td>
    </ng-container>

    <!-- cantidad 6 Column -->
    <ng-container matColumnDef="cant6">
      <th mat-header-cell *matHeaderCellDef >Cant.</th>
      <td mat-cell *matCellDef="let row"> {{row.cantregimen}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>



</body>