body{
  background: rgb(110,177,122);
background: linear-gradient(0deg, rgba(110,177,122,1) 0%, rgba(0,93,169,1) 100%);
  background-size: cover;
  height: 100vh;
}

table {
    width:95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  .mat-form-field {
    font-size: 18px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  th {
    width: 7.14%;
    font-size: 14px;
    font-family: sans-serif;
  }
  td{
    width: 7.14%;
    font-size: 12px;
    font-family: sans-serif;
  }
  .mat-header-cell, .mat-cell {
    padding: 0 5px; 
  }
  
  .header-group-row {
    border: none;
    align-items: stretch;
  }
  .header-group {
      display: flex;
      align-items: center;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
  mat-paginator{
    width:95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  