<body>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>
  
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
  
        <!-- fecha Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let row"> {{row.fecha | date:'shortDate' }} </td>
        </ng-container>
  
        <!-- menu 1 Column -->
        <ng-container matColumnDef="menu1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu </th>
          <td mat-cell *matCellDef="let row"> {{row.menu1}} </td>
        </ng-container>
  
        <!-- cantidad 1 Column -->
        <ng-container matColumnDef="cant1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.cant1}} </td>
        </ng-container>
  
        <!-- menu 2 Column -->
        <ng-container matColumnDef="menu2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu </th>
          <td mat-cell *matCellDef="let row"> {{row.menu2}} </td>
        </ng-container>
  
        <!-- cantidad 2 Column -->
        <ng-container matColumnDef="cant2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.cant2}} </td>
        </ng-container>
  
        <!-- menu 3 Column -->
        <ng-container matColumnDef="menu3">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu </th>
          <td mat-cell *matCellDef="let row"> {{row.menu3}} </td>
        </ng-container>
  
        <!-- cantidad 3 Column -->
        <ng-container matColumnDef="cant3">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.cant3}} </td>
        </ng-container>
  
        <!-- menu 4 Column -->
        <ng-container matColumnDef="menu4">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu </th>
          <td mat-cell *matCellDef="let row"> {{row.menu4}} </td>
        </ng-container>
  
        <!-- cantidad 4 Column -->
        <ng-container matColumnDef="cant4">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.cant4}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
  
  </body>