<mat-toolbar class="bg">
  <mat-toolbar-row>
    <img src="../../assets/img/logo.png" class="icon">
    <p>Casinos Integrados</p>
    <button mat-raised-button (click)="Menus()" class="btnMenu ">Menus</button>
    <button mat-raised-button (click)="Historial()" class="btnMenu">Historial</button>
    <button mat-raised-button (click)="Contacto()" class="btnMenu">Contacto</button>
    <button mat-raised-button (click)="Hadmin()" class="btnMenu1">Home A</button>
    <button mat-raised-button (click)="Madmin()" class="btnMenu1">Menu A</button>
    <button mat-raised-button (click)="Cadmin()" class="btnMenu1">Clientes A</button>
    <span class="spacer"></span>
    <button mat-raised-button (click)="LogOut()" class="btnExit">Cerrar sesion</button>

  </mat-toolbar-row>
</mat-toolbar>