<mat-toolbar class="bg" *ngIf="CurrentUser.rut != ''">
  <mat-toolbar-row>
    <img src="../../assets/img/logo.png" class="icon">
    <p>Casinos Integrados</p>
    <button mat-raised-button (click)="Menus()"  *ngIf="CurrentUser.role == 'cliente'" class="btnMenu ">Menus</button>
    <button mat-raised-button (click)="Historial()" *ngIf="CurrentUser.role == 'cliente'" class="btnMenu">Historial</button>
    <button mat-raised-button (click)="Contacto()" *ngIf="CurrentUser.role == 'cliente'" class="btnMenu">Contacto</button>
    <button mat-raised-button (click)="Hadmin()" *ngIf="CurrentUser.role == 'admin'" class="btnMenu1">Listado de Pedidos</button>
    <button mat-raised-button (click)="Madmin()" *ngIf="CurrentUser.role == 'admin'" class="btnMenu1">Listado de Menus</button>
    <button mat-raised-button (click)="Cadmin()" *ngIf="CurrentUser.role == 'admin'" class="btnMenu1">Clientes</button>
    <span class="spacer"></span>
    <button mat-raised-button (click)="LogOut()" *ngIf="CurrentUser.rut != ''" class="btnExit">Cerrar sesion</button>

  </mat-toolbar-row>
</mat-toolbar>