<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="/src/app/login/login.component.css">
  </head>
  <body>
    <div class="login-box">
      <img src="../../assets/img/user.png" class="avatar">
      <h1>Inicia sesión</h1>

      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Rut</label>
        <!-- (keydown)="formatoRut(username.value);" -->
        <!-- (keypress)-->
        <!-- (blur)-->
        <input type="text" #username name="username" id="username" maxlength="12"
          (blur)="formatoRut(username.value);" (focus)="limpiarInput();" [(ngModel)]="rutValidado" placeholder="Ingresa tu rut : 189905548">
        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña</label>
        <input type="password" #password name="password" placeholder="Ingresa contraseña">
        <button class='bt mat-raised-button' type="submit"  *ngIf="rutValidadoBoolean" (click)='logIn(username.value, password.value, $event)' id="login-button" >Iniciar sesión</button>
        <!--(click)="logIn(username.value, password.value, $event) href="\menu"-->
        <a href="#" (click)="forgot(username.value)">¿Olvido su contraseña?</a><br>
      </form>
    </div>
  </body>
</html>