<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <mat-form-field class="w60">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
  </mat-form-field>

  <div class="mat-elevation-z8 w60">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Rut Column -->
      <ng-container matColumnDef="nombre">
        <th class="nombre" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td class="nombre"mat-cell *matCellDef="let row" (click)="AbrirParaEditar(row)"> {{row.nombre}} </td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="descripcion">
        <th  class="descripcion" mat-header-cell *matHeaderCellDef mat-sort-header> Descripion </th>
        <td  class="descripcion" mat-cell *matCellDef="let row" (click)="AbrirParaEditar(row)"> {{row.descripcion}} </td>
      </ng-container>

      <!-- Cantidad Column -->
      <ng-container matColumnDef="foto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Foto </th>
        <td mat-cell *matCellDef="let row" (click)="AbrirParaEditar(row)"><img src={{row.foto}}></td>

      </ng-container>

      <!-- Correo Column -->
      <ng-container matColumnDef="calorias">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Calorias </th>
        <td mat-cell *matCellDef="let row" (click)="AbrirParaEditar(row)"> {{row.calorias}} Kcal. </td>
      </ng-container>
      <!-- Eliminar Column -->
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let row" (click)="AbrirParaEditar(row)">
          <button mat-raised-button (click)="Eliminar(selectedPlato.id)" class="btn btn-danger">Eliminar</button>
        </td>
      </ng-container>
      <!-- Modificar Column -->
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let row" (click)="AbrirParaEditar(row)">
          <button mat-raised-button [routerLink]="['/plato/edit',row.id]" class="btn btn-primary">Editar</button> </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>

  <div class="agregar ">
    <button mat-raised-button [routerLink]="['/plato/edit',selectedPlato.id]" class="btnAgregar">Agregar</button>

  </div>
</body>

</html>