body{
  background: rgb(177,110,175);
  background: linear-gradient(0deg, rgba(177,110,175,1) 0%, rgba(0,93,169,1) 100%);
  background-size: cover;
  height: 95vh;
  width: 100vw;
}
table {
  width: 100%;

}
.w60{
width: 90%;
margin-left: 5%;
margin-right: 5%;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
  
}
p{
  font-size: 14px;
  color: aliceblue;
  margin: 10px;
  width: 100px;
  padding: 0 10px;
}
td, th {
  width: 13%;
  font-size: 14px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-header-cell, .mat-cell {
  padding: 0 10px; 
}

.header-group-row {
  border: none;
  align-items: stretch;
}
.header-group {
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.container {
  display: flex; /* or inline-flex */
    width: 1;
    justify-content: center;
  
}

mat-form-field{
    margin-left: 25px;
    display: block;
    color: aliceblue;
}
select{
  margin: 10px;
  width: 100px;
  padding: 0%;
  font-size: 12px;
}
.inputNormal{
  margin: 15px;
  width: 110px;
  height: 30px;
  background-color: azure;
  border-radius: 5%;
  padding: 5px;
}
.iconCalendario{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: azure;
  border-radius: 5%;
}

.agregar{
  background: rgb(0,93,169);
background: linear-gradient(174deg, rgba(0,93,169,1) 0%, rgba(0,169,161,0.938813025210084) 84%);
margin: 5%;
margin-top: 50px;
border-radius: 10px;
padding: 5px;
font-size: 10px;

}
mat-form-field{
margin-left: 7px;
margin-right: 7px;
}
.btnAgregar{
background: rgb(86, 146, 17);
color: aliceblue;
margin: 10px;
padding-right: 60px;
}
.btnEliminar{
background: rgb(214, 50, 0);
color: aliceblue;
margin: 10px;
padding-right: 60px;
}
