<body>
  <mat-form-field class="w60">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
  </mat-form-field>

  <div class="mat-elevation-z8 w60">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- fecha Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let row" (click)="AbrirParaEditar(row)"> {{row.fechacarta |  date:'shortDate'}} </td>
      </ng-container>

      <!-- menu 1 Column -->
      <ng-container matColumnDef="industrial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Menú Industrial</th>
        <td mat-cell *matCellDef="let row" (click)="AbrirParaEditar(row)"> {{row.industrial}} </td>
      </ng-container>

      <!-- menu 2 Column -->
      <ng-container matColumnDef="deLaCasa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Menú de la casa </th>
        <td mat-cell *matCellDef="let row" (click)="AbrirParaEditar(row)"> {{row.delacasa}} </td>
      </ng-container>

      <!-- menu 3 Column -->
      <ng-container matColumnDef="oficina">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Menú Oficina </th>
        <td mat-cell *matCellDef="let row" (click)="AbrirParaEditar(row)"> {{row.oficina}} </td>
      </ng-container>

      <!-- menu 4 Column -->
      <ng-container matColumnDef="hipocalorico">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Menú Hipocalorico </th>
        <td mat-cell *matCellDef="let row" (click)="AbrirParaEditar(row)"> {{row.hipocalorico}} </td>
      </ng-container>

      <!-- menu 4 Column -->
      <ng-container matColumnDef="vegetariano">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Menú Vegetariano </th>
        <td mat-cell *matCellDef="let row" (click)="AbrirParaEditar(row)"> {{row.vegetariano}} </td>
      </ng-container>

      <!-- menu 4 Column -->
      <ng-container matColumnDef="regimen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Menú Regimen </th>
        <td mat-cell *matCellDef="let row" (click)="AbrirParaEditar(row)"> {{row.regimen}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <!--<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>-->
  </div>
  <!--
  <table>
<tr *ngFor="let item of lista">
<td>{{item}}</td>
</tr>
</table>
-->
  <div class="agregar ">
    <div class="container ">
      <input class="inputNormal" type="text"  #f [(ngModel)]="fecha" placeholder='Agregar Fecha'>

      <select class="form-control form-control-lg" #mIndustrial [(ngModel)]="data.industrial">
        <option style="background:crimson ; color: aliceblue">Industrial</option>
        <option>--------</option>
        <option *ngFor='let plato of platos'> {{plato.id}}</option>
      </select>
      <select class="form-control form-control-lg" #mDeLaCasa [(ngModel)]="data.deLaCasa">
        <option style="background:crimson ; color: aliceblue">De la casa</option>
        <option>--------</option>
        <option *ngFor='let plato of platos'>{{plato.id}}</option>
      </select>
      <select class="form-control form-control-lg" #mOficina [(ngModel)]="data.oficina">
        <option style="background:crimson ; color: aliceblue">Oficina</option>
        <option>--------</option>
        <option *ngFor='let plato of platos'>{{plato.id}}</option>
      </select>
      <select class="form-control form-control-lg" #mHipocalorico [(ngModel)]="data.hipocalorico">
        <option style="background:crimson ; color: aliceblue">Hipocalorico</option>
        <option>--------</option>
        <option *ngFor='let plato of platos'>{{plato.id}}</option>
      </select>
      <select class="form-control form-control-lg" #mVegetariano [(ngModel)]="data.vegetariano">
        <option style="background:crimson ; color: aliceblue">Vegetariano</option>
        <option>--------</option>
        <option *ngFor='let plato of platos'>{{plato.id}}</option>
      </select>
      <select class="form-control form-control-lg" #mRegimen [(ngModel)]="data.regimen">
        <option style="background:crimson ; color: aliceblue">Regimen</option>
        <option>--------</option>
        <option *ngFor='let plato of platos'>{{plato.id}}</option>
      </select>

      <button class="pullRight" mat-raised-button (click)="Agregar()" class="btnAgregar">Agregar</button>
    </div>

    <!--<button mat-raised-button *ngIf="selectedMenu.fecha !== 0" (click)="Eliminar()"
      class="btnEliminar">Eliminar</button>-->
  </div>

</body>