<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="row">
    <div class=" col-sm-4 offset-md-4">
      <div class="card card-body border-primary mb-3">
        <form (submit)="edit ? actualizarCliente() : sumbitCliente()">
          <div class="form-group">
            <input type="text" name="nombre" [(ngModel)]="cliente.nombre" class="form-control"
              placeholder="Nombre Empresa">
          </div>

          <div class="form-group">
            <input type="number" name="rut" [(ngModel)]="cliente.rut" class="form-control" placeholder="Rut sin puntos ni dv">
          </div>

          <div class="form-group">
            <input type="number" name="empleados" [(ngModel)]="cliente.empleados" class="form-control"
              placeholder="Empleados">
          </div>

          <div class="form-group">
            <input type="text" name="correo" [(ngModel)]="cliente.correo" class="form-control" placeholder="Correo">
          </div>
          <button class="btn btn-primary btn block">
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>

</body>

</html>